{% extends 'base.html.twig' %}


{% block body %}

    <div class="headerHome text-white text-center p-4 w-100">
        <div class="column containerTitle">
            <h3 class="classicEncyclopedyTitle">
                Classic Encyclopedy
            </h3>
            <hr>
            <h4>
                Découvrez les plus beaux morceaux de la musique classique !
            </h4>
        </div>

        <div class="menuHamburger align-self-center flex justify-end w-25 d-none"><i class="fas fa-solid fa-bars" style="color: #ffffff;"></i></div>
    </div>

<div class="menuResponsive d-none">
    <p class=""><a class="text-decoration-none text-white  ms-2" href="">Favoris <i class="fas fa-heart fa-lg"></i></a></p>
    {#            {% if app.user %}#}
    {#            <a  class="text-decoration-none text-white" href="{{ path('logout') }}">Se Deconnecter</a>#}
    {#            {% else %}#}
    <a  class="text-decoration-none text-white ms-2" href="">Se Connecter</a>
    {#            {% endif %}#}
</div>

    <div class=" row">
        <div class="sidebarHome mr-4 block">

                <p class="mt-5"><a class="text-decoration-none text-white  ms-2" href="">Favoris <i class="fas fa-heart fa-lg"></i></a></p>
{#            {% if app.user %}#}
{#            <a  class="text-decoration-none text-white" href="{{ path('logout') }}">Se Deconnecter</a>#}
{#            {% else %}#}
                <a  class="text-decoration-none text-white ms-2" href="">Se Connecter</a>
{#            {% endif %}#}
        </div>

        <div class="contentMainSearch column">
            <div class="m-auto">
                    <h4 class="mt-5 text-center">
                        Rechercher un artiste ou une oeuvre !
                    </h4>

                {{ form_start(form, { 'action': path("app_search_results"), 'method': 'GET' }) }}
                    <div class="searchBar mt-3 text-center">
                        {{ form_widget(form.search)}}
                    </div>
                {{ form_end(form) }}
            </div>

            <div class="containerSearchResults m-auto">
                {% include 'home/searchResults.html.twig' %}
            </div>
        </div>



    </div>


{% endblock %}
